<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AAdKit">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".uis.SplashAdActivity"
            android:exported="false" />

        <activity
            android:name=".uis.SplashAdShowActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />

        <activity
            android:name=".uis.NativeMainActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uis.NativeAdActivity"
            android:exported="false"
            android:label="Native" />
        <activity
            android:name=".uis.NativeListActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <activity
            android:name=".uis.BannerAdActivity"
            android:exported="false"
            android:label="Banner" />

        <activity
            android:name=".uis.RewardVideoAdActivity"
            android:exported="false"
            android:label="RewardedVideo" />
    </application>

</manifest>